@import "../../../assets/variables";

.main{

  input{
    border-radius: 0px;
    height: 40px;
    width: 350px;
    border: none;
  }
  ul{
    position: absolute;
    z-index: 9999;
    li{
      color: white;
    }
  }
}